/bdgdecStot
/bdgETact
/bdgPm
/bdgPsgw
/bdgPssw
/bdgqdr
/bdgqmodf
/bdgqrun
/bdgqspgw
/msw_Hgw
/msw_sc1
/msw_vcr
/svat_gt.bda
/time_sim.inp
/PreMetaSWAP.key
/svat_gt.key
/svat_per.key
/info_mete.out
/info_sim.out
/info_svat.out
/svat_gt.tim
/svat_per.tim
/percolmax.txt
/tot_svat_dtgw.csv
/tot_svat_per.csv
/fort.1001
/MetaSWAP.ok
/*.csv
